@import '../variables';

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media (max-width: 1350px) {
    margin-bottom: 18px;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }
  .sort {
    &__image {
      transform: rotate(0deg);
      animation-name: roll-down;
      animation-duration: 0.3s;
      animation-timing-function: ease-out;

      &.active {
        animation-name: roll-up;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
        transform: rotate(180deg);
      }

      @keyframes roll-up {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(180deg);
        }
      }
      @keyframes roll-down {
        0% {
          transform: rotate(180deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;

    svg {
      align-items: center;
      justify-content: center;
      height: 12px;
    }

    b {
      margin-left: 8px;
      @media (max-width: 630px) {
        display: none;
      }
    }

    span {
      margin: 0 15px 0;
      @media (max-width: 630px) {
        margin: 0 8px 0;
      }
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
      -webkit-user-select: none; /* запретить выделение для webkit браузеров */
      -moz-user-select: none; /* запретить выделение для Firefox */
      -ms-user-select: none; /* запретить выделение для IE */
      user-select: none; /* запретить выделение для остальных браузеров */
    }
  }

  &__popup {
    position: absolute;
    top: 15px;
    right: 30px;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
    @media (max-width: 1240px) {
    }
    @media (max-width: 630px) {
      right: 40px;
      width: 132px;
    }

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        @media (max-width: 630px) {
          padding: 5px 10px;
        }
        cursor: pointer;
        -webkit-user-select: none; /* запретить выделение для webkit браузеров */
        -moz-user-select: none; /* запретить выделение для Firefox */
        -ms-user-select: none; /* запретить выделение для IE */
        user-select: none; /* запретить выделение для остальных браузеров */
        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
